.container{
  border-top: 1px solid black;
  margin-top: auto;
  height: 20vh;
  box-shadow: 0px -15px 75px -10px rgba(0,32,47, 1);
  z-index: 1;
}

.form{
  display: flex;
  width: 100%;
  height: 70%;
  overflow: hidden;

  &__textInput{
    width: 90%;
    resize: none;
    font-size: 24px;
    padding: 10px;
  }

  &__post{
    width: 10%;
    height: 100%;
    cursor: pointer;

    &:hover{
      background: #7f8f97;
    }

    & svg{
      height: 100%;
      width: 100%;
    }
  }
}
.upload{
  height: 30%;
}