.container{
  width: 100%;
  position: relative;
  height: 70vh;

  &__messages{
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.message{
  width: 100%;
  margin: 5px 0;

  &__user{
    display: flex;
    justify-content: left;
    width: 100%;
  }

  &__friend{
    display: flex;
    justify-content: right;
    text-align: right;
    width: 100%;
  }

  &__container{
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
    display: block;
    width: 50px;

    & div{
      display: flex;
      justify-content: center;
      align-items: center;

      & svg{
        width: 30px;
        height: 30px;
      }
    }
  }

  &__text{
    border: 2px solid rgba(0,0,0,0.2);
    font-size: 18px;
    padding: 5px;
    //max-width: calc(100% - 170px);
    max-width: calc(100% - 70px);
    word-wrap: break-word;
    height: 100%;
  }

  &__file{
    position: relative;

    & img{
      position: static !important;
      border-radius: 10%;
      max-width: 500px;
      max-height: 200px;
    }
    & video{
      border-radius: 10%;
      max-width: 500px;
      max-height: 400px;
    }
  }

  &__time{
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .container{

    &__messages{
      padding: 0;
    }
  }
}