.itemList{
  overflow: auto;
  height: 250px;
  list-style: none;

  &__item{
    height: 50px;
  }

  &__link{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    & svg{
      height: 80%;
      margin-right: 10px;
    }
  }
  &__unseen{
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 760px) {
  .itemList {
    flex: 1;
  }
}