.itemList{
  list-style: none;
  height: 20vh;
  overflow-y: auto;

  &__item{
    margin: 5px 0;
  }

  &__link{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

@media screen and (max-width: 760px) {
  .itemList {
    flex: 1;
  }
}