.container {
  background: #00202f;
  width: 20%;
  min-width: 300px;
  max-height: 100vh;
  min-height: 100vh;
  color: white;
  font-family: Garamond, serif;

  &__logo {
    height: 10vh;
    display: flex;
    justify-content: center;
  }
}

.list {
  height: 90vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  &__requests, &__friends, &__groups {
    border-top: 1px solid #bf9000;
    padding: 10px;
  }

  &__sessionInfo {
    margin-top: auto;
    height: 10vh;
    width: 100%;
    border-top: 1px solid #bf9000;
  }

  &__add {
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;

    & svg{
      height: 80%;
      margin-right: 10px;
    }
  }
}

.sessionInfo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  &__img {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg{
      width: 80%;
      height: auto;
    }
  }

  &__info {
    width: 60%;
    text-align: center;
  }
}

.toggle{
  position: absolute;
  height: 100%;
  left: 85vw;
  display: none;

  &__background{
    background: coral;
    opacity: 0.5;
  }
  & svg{
    width: 40px;
    height: 50px;
  }
}

.hideToLeft{
  animation: hideLayout 300ms normal forwards ease-in-out;
}

@media screen and (max-width: 760px) {
  .toggle{
    display: flex;
  }

  .container {
    min-width: 100px;
    max-height: none;
    position: absolute;
    z-index: 2;
    width: 85%;
    background: #00202f;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {

    }
  }

  .list {
    list-style: none;
    width: 90%;
    height: auto;
    margin-top: 50px;

    &__add {
      display: flex;
      align-items: center;
    }
    &__friends, &__groups {
      padding-top: 10px;
      display: flex;
      flex-flow: column;
      min-height: 100px;
      max-height: 300px;
    }
  }

  .sessionInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
}

@keyframes hideLayout {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-85vw);
  }
}



