.background{
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background: #00202f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Garamond, serif;
  color: #bf9000;

  &__header{
    position: absolute;
    top: 10px;
    font-size: 2rem;
  }
  &__imgContainer{
    width: 800px;
    & img{
      width: 100%;
      height: auto;
    }
  }

  &__content{
    position: absolute;
  }
}

@media screen and (max-width: 760px) {
  .background{

    &__header{
      font-size: 1rem;
    }
    &__imgContainer{
      width: 100vw;
      max-width: 800px;
      min-width: 100px;
      opacity: 0.3;

      & img{
        width: 100%;
        height: auto;
      }
    }
  }
}