.instructions {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.scrollBar{
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__scroll{
    width: 10vw;
    height: 100%;
  }

  &__points{
    font-size: 6rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    height: 100%
  }
  &__point{
    height: 25%;
    width: 1px;
    display: flex;
    align-items: center;
    border: 2px solid #bf9000;

    & div{
      position: absolute;
      z-index: 2;
      transform: translate(-15px, 30px);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #bf9000;
    }
  }
}

.steps{
  //width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;

  &__step{
    //width: 80%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__info{
    min-width: 300px;
    margin-right: 30px;
  }

  &__img{

  }

  &__link{
    font-size: 2rem;
    color: #c70000;
    font-weight: bold;
  }
}


@media screen and (max-width: 1200px) {
  .scrollBar{
    width: 100vw;

    &__scroll{
      display: none;
    }
  }
}

@media screen and (max-width: 1077px) {
  .steps{
    width: 100%;

    &__step{
      width: 90%;
      flex-direction: column;
      text-align: center;
      height: auto;
    }
    &__info{
      width: 80%;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .content{
    &__section {
      flex-direction: column;
    }

    &__welcome {
      font-size: 1.5rem;
    }
  }
  .steps{
    font-size: 1rem;
    &__img {
      width: 100%;

      & img{
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .chain{
    max-width: 100vw;
    overflow-x: hidden;
  }
}