.header{
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo{
    position: absolute;
    left: 5px;
    height: 10vh;

    & img{
      height: 100%;
      width: auto;
    }
  }
  &__session{
    position: absolute;
    right: 15px;
  }
}
@media screen and (max-width: 760px) {

}