.profile{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(153,153,153, 0.5);
  border-bottom-left-radius: 20px;

  &__text{
    text-align: center;
  }

  &__loggedOut{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link{
    width: 150px;
    font-family: Garamond, serif;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bf9000;
    margin: 0 10px;
  }
}

@media screen and (max-width: 760px) {

}