$SlideShadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
$TabHeight: 300px;
.createGroupContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 95%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  height: 80px;
  margin-top: 10px;

  &__label {
    height: 30px;
  }

  &__input {
    height: 30px;
    text-align: center;
  }

  &__error {
    color: red;
  }
}

.flex {
  display: flex;
}

.friends {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  &__checkboxes {
    width: 50%;
  }

  &__list {
    width: 100%;
    list-style: none;
    background: white;
    border: 1px solid grey;
    padding: 10px;
    display: inline-block;
    height: $TabHeight;
    overflow-y: auto;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-size: 1rem;
    margin-right: 1rem;
  }
}

.slideCheckbox {
  width: 80px;
  height: 30px;
  background: #333;
  margin: 5px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: $SlideShadow;

  &:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    height: 2px;
    width: 52px;
    background: #111;
    border-radius: 50px;
    box-shadow: $SlideShadow;
  }

  label {
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 4px;
    background: #fcfff4;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    background: radial-gradient(#fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 6px;
      left: 6px;
      background: #333;
      border-radius: 50px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, 0.9);
    }
  }

  input[type=checkbox] {
    visibility: hidden;

    &:checked + label {
      left: 54px;

      &:after {
        background: blue;
      }
    }
  }
}

.externalFriends {
  width: 50%;

  &__container {
    display: flex;
    width: 100%;
  }

  &__add {
    width: 100%;
    height: $TabHeight;
    background: white;
    border: 1px solid grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &__input {
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
  }

  &__btn {
    height: 40px;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__del {
    height: 40px;
    width: 60px;
    background: #c70000;
    cursor: pointer;

    &:hover {
      background: #d74c4c;
    }
  }
}

.notEnough {
  width: 100%;
  text-align: center;
  color: red;
}

.submit {
  margin-top: 3rem;
  display: flex;
  justify-content: center;

  &__input {
    padding: 1rem 3rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 760px) {
  .createGroupContainer {
    margin-top: 50px;
  }
  .flex {
    display: block;
  }
  .friends {
    display: block;

    &__checkboxes {
      width: 100%;
    }
  }
  .externalFriends {
    width: 100%;
  }
}