.card {
  background: #00202f;
  width: 250px;
  margin: 20px 0;
  padding: 10px;
  color: #bf9000;
}

.imgContainer {
  display: flex;
  justify-content: center;
  padding: 10px 0;

  &__circle {
    border-radius: 50%;
    border: 4px solid #bf9000;
    width: 60px;
    height: 60px;
    text-align: center;
    background: #4c626d;
    overflow: hidden;

    & svg {
      height: 90%;
      position: relative;
      transform: translateY(15%);
    }
  }
}

.inBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  &__header {
    width: 100%;
    word-wrap: break-word;
  }

  &__notification {
    margin: 10px 0;
    width: 100%;
  }

  &__link {
    background: #4c626d;
    color: black;
    width: 100%;
  }
}

.blocked{
  cursor: not-allowed;
}

.memberSection {
  background: #4c626d;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bf9000;
  border: 2px solid #bf9000;
  padding: 5px;
  font-size: 24px;

  & svg{
    height: 80%;
  }

  &__form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &_container{
      height: 30px;
      width: 100%;
      display: flex;

      & input{
        height: 100%;
        width: 80%;
        padding-left: 5px;
      }
      & button{
        height: 100%;
        width: 20%;
      }
    }

    & button{
      cursor: pointer;
    }
  }
  &__pointer{
    cursor: pointer;
  }

  &__displayNone{
    display: none;
  }

  &__link{
    display: flex;
    align-items: center;
    max-width: 100%;
    font-size: 1rem;

    &_text{
      width: 70%;
      word-wrap: break-word;
      margin-right: 3%;
    }
    &_btn{
      background: #4c626d;
      border: 1px solid #bf9000;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      aspect-ratio: 1/1;

      &:hover{
        background: #7f8f97;
      }

      & img{
        padding: 0;
      }
    }
  }

  &:hover .memberSection__link{
    display: flex;
  }
  &:hover .memberSection__afterGlow{
    display: none;
  }
}