.menu{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Garamond, serif;
  max-height: 100vh;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #7f8f97;

  &__bookmark{
    padding: 20px;
    cursor: pointer;

    &:first-child{
      margin-right: auto;
    }

    & div{

      & svg{
        display: flex;
        align-items: center;
        height: 50px;
        width: 50px;
      }
    }

    &__active{
      background: white;
    }
  }
}

@media screen and (max-width: 360px) {
  .header{
    &__bookmark{
      padding: 10px;
      & div{

        & svg{
          display: flex;
          align-items: center;
          height: 30px;
          width: 30px;
        }
      }
    }
  }

}