.requests{
  //height: 50px;
  display: flex;
  align-items: center;

  //& svg{
  //  height: 80%;
  //  margin-right: 10px;
  //}
  
  &__amount{
    margin-left: 10px;
    border: 2px solid #bf9000;
    background: #c70000;
    color: #bf9000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}